/*-------------conteneur-page-acceuil--------------*/

main {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  &.container {
    width: 800px;
    margin: auto;
  }
}

/*-------------menu-la-note-enchantée---------------*/

.container-note {
  @include container-menu;
  background-color: $color-m1;

}

/*-----------menu-le-chic-a-la-francaise--------------*/

.container-chic {
  @include container-menu;
  background-color: $color-m2;
}

/*-----------menu-le-délice-des-papilles--------------*/

.container-délice {
  @include container-menu;
  background-color: $color-m3;
  font-family: 'Kalam', cursive;
}

.container-palette {
  @include container-menu;
  background-color: $color-m4;
  font-family: 'Kalam', cursive;
}


  