/*-----------------footer-page-acceuil----------------*/ 

footer {
    display: flex;
    justify-content: space-between;
    background-color: $color-bando;
    height: 3rem;
    position: fixed;
    bottom: 0;
    width: 100%;
  }
  
  .vibreur {
    padding-left: 3rem;
    padding-right: 3rem;
    text-align: center;
    color: $color-title;
    font-size: 1.4rem;
    padding-top: 1.5rem;
    text-decoration: none;
    text-decoration-line: none;
  }
  
  .vibreur {
    &:hover{
      animation: shake 100ms infinite ease-in-out;
    }
  }
  
  a:webkit-any-link {
    cursor: pointer;
  }
  
  @keyframes shake {
    from{
      transform: rotate(6deg);
    }
    to{
      transform: rotate(-6deg);
    }
  }
  