/*---------------header-page-acceuil------------------*/

header {
    background-color: $color-bando;
    height: 6rem;
    display: flex;
    justify-content: center;
    width: 100%;
  }
  
  h1 {
    font-size: 3rem;
    color: $color-title;
  }
  
  a, a:hover {
    text-decoration: none;
  }
  