
/*------------media-queries-1000px----------------*/

@media all and (max-width: 1000px)

{

  body {
       margin: auto;
       width: 100%;
    }

  main {
       display: flex;
       flex-wrap: wrap;
       justify-content: center;
       &.conteneur {
            width: 100%;
            margin: auto;
        }
    }

  /*--------------------header--------------------*/

  header {
      width: 100%;
    }

  /*--------------------footer--------------------*/

  footer {
        display: flex;
        margin: auto;
        height: 3rem;
        text-align: center;
        &.load {
            margin-bottom: 12rem;
            margin-top: 6rem;
        }
    }

}

/*------------madia-queries-680px-------------*/

@media all and (max-width: 680px)

{

  body {
      margin: auto;
      width: 100%;
      display: flex;
    }

  .conteneur {
      margin: auto;
    }

  header {
      width: 100%;
      margin: auto;
    }

  footer {
      justify-content: space-evenly;
      margin: auto;
      width: 100%;
    }

  .vibreur {
      padding-left: 2rem;
      padding-right: 2rem;
    }
}

