
/*------------media-queries-1000px----------------*/

@media all and (max-width: 1000px)

{

  body {
    margin: auto;
    width: auto;
  }

  main {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    &.conteneur {
        width: 100%;
        margin: auto;
    }
  }

  /*--------------------header--------------------*/

  header {
    margin: auto;
    width: 100%;
  }

  /*-----------------prochainement----------------*/

  .load {
    margin-bottom: 12rem;
    margin-top: 6rem;
  }

  /*--------------------footer--------------------*/

  footer {
    display: flex;
    margin: auto;
    text-align: center;
  }
}

/*------------madia-queries-680px-------------*/

@media all and (max-width: 680px)

{

  body {
    margin: auto;
    width: 100%;
  }

  .conteneur {
    margin: auto;
  }

  .container-délice {
    margin-top: 10rem;
  }

  .container-palette {
    margin-top: 10rem;
  }

  header {
    display: flex;
    margin: auto;
    position: absolute;
  }

  footer {
    justify-content: space-evenly;
    margin: auto;
  }

  /*--------------------menu-2--------------------*/

  .menu2 {
    margin-top: 2rem;
  }

  .vibreur {
    padding-left: 2rem;
    padding-right: 2rem;
  }

  /*-------------menu-la-note-enchantée-responsive------------*/

  body {
    display: flex;
    margin: auto;
    }
  
  .container-note {
    display: flex;
    margin-top: 10rem; 
  }

  ul {
    display: flex;
    margin: auto;
    flex-direction: column;
    margin-left: 0rem;
    text-align: center;
  }

  .food {
    display: flex;
    flex-direction: column;
    margin: auto;
    text-align: center;
  }

  .line-prelude {
    margin-bottom: 3rem;
  }

  .line-left-note {
    width: 1rem;
  }

  .line-right-note {
    width: 1rem;
  }

  .price {
    display: flex;
    margin: auto;
    padding-left: 3rem;
  }

  .mouvement {
    padding-left: 0rem;
  }

  li {
    text-align: center;
    margin: auto;
  }

  /*----------------le-chic-a-la-francaise-------------*/

  .container-chic {
    margin-top: 10rem;
  }

  .appetit {
    display: flex;
    text-align: center;
    margin: auto;
    padding-left: 0rem;
  }

  .sucrées {
    padding-left: 0rem;
  }


}






