
/*-------------------------media-queries-1000px---------------------------*/

@media all and (max-width: 1000px)

{

  body {
    margin: auto;
    width: 100%;
  }

  main {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    &.container {
      width: 100%;
      margin: auto;
    }
  }

  /*--------------------header--------------------*/

  header {
    margin: auto;
    width: 100%;
  }

  /*-----------------prochainement----------------*/

  .load {
    margin-bottom: 12rem;
    margin-top: 6rem;
  }

  /*--------------------footer--------------------*/

  footer {

    margin: auto;
    text-align: center;
  }
}

/*-------------------------madia-queries-680px--------------------------*/

@media all and (max-width: 680px)

{

  body {
    margin: auto;
    width: 100%;
  }

  .conteneur {
    margin: auto;
    width: 100%;
  }

  .container-note {
    margin: auto;
    width: 100%;
    text-align: center;
  }

  .container-délice {
    margin-top: 10rem;
    width: 100%;
  }

  .container-palette {
    margin-top: 10rem;
    width: 100%;
  }

  header {
    display: flex;
    margin: auto;
    position: absolute;
  }

  span {
    width: 100%;
  }

  .note {
    width: 100%;
  }

  #page-menu-la-note {
    margin-top: 10rem;
    margin-bottom: 0.8rem;
  }

  /*-------------menu-la-note-enchantée-responsive------------*/

  body {
    display: flex;
    margin: auto;
    }
  
  .container-note {
    display: flex;
    margin-top: 10rem;
    margin-bottom: 10rem; 
  }

  ul {
    display: flex;
    margin: auto;
    flex-direction: column;
    padding-left: 1rem;
    padding-right: 1rem;
    text-align: center;
  }

  .food {
    display: flex;
    flex-direction: column;
    margin: auto;
    text-align: center;
  }

  .line-prelude {
    margin: auto;
    width: 100%;
    margin-bottom: 3rem;
  }

  .line-left-note {
    width: 100%;
  }

  .line-right-note {
    width: 100%;
  }

  .price {
    display: flex;
    margin: auto;
    padding-left: 3rem;
  }

  .mouvement {
    padding-left: 0rem;
  }

  li {
    text-align: center;
    margin: auto;
  }

  .titre-bas {
    padding-right: 2rem;
  }

  /*--------------------menu-2--------------------*/

  .menu2 {
    margin-top: 2rem;
  }

  /*----------------le-chic-a-la-francaise-------------*/

  .container-chic {
    margin-top: 10rem;
  }

  .appetit {
    display: flex;
    text-align: center;
    margin: auto;
    padding-left: 0rem;
  }

  .sucrées {
    padding-left: 0rem;
  }

  /*----------------prochainement------------------*/



  /*--------------------footer---------------------*/


  footer {
    justify-content: space-evenly;
    margin: auto;
    width: 100%;
  }

  .vibreur {
    padding-left: 2rem;
    padding-right: 2rem;
  }


}

  /*----------------------media-queries-320px-----------------------*/

@media all and (max-width: 320px)

{
  footer {
    width: 320px;
  }

  .sucrées {
    padding-left: 1rem;
  }

}

  /*---------------------media-queries-280px------------------------*/

  @media all and (max-width: 280px)

  {
    footer {
      width: 280px;
    }

    .vibreur {
      margin-left: -1rem;
      margin-right: -1rem;
    }

    ul {
      padding-left: 1rem;
      padding-right: 1rem;
    }

    .titre-bas {
      padding-right: 1.5rem;
    }


  }


