/*----------------body-main----------------*/
body {
  margin: auto;
  font-family: "Montserrat", sans-serif;
}

main {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.conteneur {
  width: 800px;
  margin: auto;
}

/*---------------header-------------------*/
header {
  background-color: #579C87;
  height: 6rem;
  text-align: center;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

h1 {
  font-size: 3rem;
  color: #fcca46;
}

a, a:hover {
  text-decoration: none;
}

/*-------------menu page accueil+h2+h3------------*/
article {
  width: 18rem;
  height: 25rem;
  margin: 2rem;
  text-align: center;
  display: flex;
  justify-content: center;
  flex-direction: column;
  box-shadow: 0 0 0.6rem #C6BDC6;
}

h2 {
  font-size: 1.4rem;
}

h3 {
  font-size: 2rem;
}

.link:hover {
  transform: scale(1);
  opacity: 0.5;
}

/*--------------menu1-2-3-4-zoom------------*/
.mouv {
  cursor: pointer;
  transition: transform 600ms;
}
.mouv:hover {
  transform: scale(1.25);
}

/*-------------------menu1------------------*/
.menu1 {
  background-color: #FDE0DC;
  color: black;
}

.menu-cover_img {
  width: 3rem;
}

.note {
  font-family: "Devonshire", cursive;
  font-size: 2rem;
  background-image: linear-gradient(0.25, #F15861, #F8A183);
  -webkit-background-clip: text;
}

.h3-m1 {
  font-family: "Kalam", cursive;
}

/*------------------menu2-------------------*/
.menu2 {
  background-color: #FEF5FE;
}

.chic {
  font-family: "Kurale", serif;
  background-image: linear-gradient(0.25turn, #c77412 35%, #905BFD 65%);
  -webkit-background-clip: text;
  color: transparent;
}

.h3-m2 {
  font-family: "Aref Ruqaa", serif;
  color: #C77412;
}

/*------------------menu3-------------------*/
.menu3 {
  background-color: #F9F9F9;
}

.delice {
  font-family: "Dancing Script", cursive;
  font-size: 1.8rem;
  background-image: linear-gradient(0.25turn, #0431df 30%, #518cf0 50%, #0887fb 20%);
  -webkit-background-clip: text;
  color: transparent;
}

.h3-m3 {
  font-family: "Kalam", cursive;
  font-weight: 300;
  color: #0887FB;
}

/*------------------menu4------------------*/
.palette {
  font-family: "kaushan Script", cursive;
  font-size: 1.8rem;
  background-image: linear-gradient(0.25turn, #3D9339, #8BD363, #BFFF7E);
  -webkit-background-clip: text;
  color: transparent;
}

.h3-m4 {
  font-family: "kalam", cursive;
  font-weight: 300;
  color: #72BF56;
}

/*-----------section prochainement----------*/
.load {
  background-color: #579C87;
  width: 20rem;
  height: 4rem;
  border-radius: 0.6rem;
  text-align: center;
  margin-top: 2rem;
  margin-bottom: 3rem;
  padding-bottom: 0.3rem;
}

.loading {
  margin: auto;
  font-size: 1.8rem;
  color: #fcca46;
  font-weight: 400;
}

.loading span {
  display: inline-block;
  animation: dots 2s infinite ease-in-out;
  animation-duration: 2s;
  animation-timing-function: ease-in-out;
  animation-delay: 0s;
  animation-iteration-count: infinite;
  animation-direction: normal;
  animation-fill-mode: none;
  animation-play-state: running;
  animation-name: dots;
  font-size: 3rem;
}

.loading .point2 {
  animation-delay: 0.4s;
}

.loading .point3 {
  animation-delay: 0.8s;
}

@keyframes dots {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
/*-----------------footer------------------*/
footer {
  display: flex;
  justify-content: space-between;
  background-color: #579C87;
  height: 4rem;
  position: fixed;
  bottom: 0;
  width: 100%;
}

.vibreur {
  padding-top: 1rem;
  padding-left: 3rem;
  padding-right: 3rem;
  color: #fcca46;
  font-size: 1.6rem;
}

/*--------------------media-queries------------------*/
@media all and (max-width: 1000px) {
  main {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  .conteneur {
    width: 100%;
    margin: auto;
  }

  header {
    margin: auto;
  }

  .load {
    margin-bottom: 8rem;
  }

  footer {
    text-align: center;
  }
}
@media all and (max-width: 600px) {
  header {
    width: 100%;
  }

  .load {
    margin-bottom: 17rem;
    margin-top: 6rem;
  }

  footer {
    display: flex;
    flex-direction: column;
    height: 7rem;
    padding-bottom: 2rem;
  }
}

/*# sourceMappingURL=style.css.map */
