@charset "UTF-8";
/*-------------page-acceuil-------------*/
article:hover {
  transform: scale(1);
  opacity: 0.5;
}

/*--------------menu1-2-3-4-zoom------------*/
.mouv {
  cursor: pointer;
  transition: transform 600ms;
}
.mouv:hover {
  transform: scale(1.25);
}

/*-----------section-prochainement----------*/
.anim-point span {
  color: #fcca46;
  display: inline-block;
  animation: dots 2s infinite ease-in-out;
  animation-duration: 2s;
  animation-timing-function: ease-in-out;
  animation-delay: 0s;
  animation-iteration-count: infinite;
  animation-direction: normal;
  animation-fill-mode: none;
  animation-play-state: running;
  animation-name: dots;
  font-size: 3rem;
}

.anim-point .point2 {
  animation-delay: 0.4s;
}

.anim-point .point3 {
  animation-delay: 0.8s;
}

.anim-point .point4 {
  animation-delay: 1.2s;
}

.anim-point .point5 {
  animation-delay: 1.6s;
}

@keyframes dots {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
  40% {
    transform: scale(0.5);
  }
  40% {
    transform: translateY(0.7rem);
  }
  90% {
    transform: translateX(0.5rem);
  }
}
/*--------------vibreur-footer---------------*/
.vibreur:hover {
  animation: shake 100ms infinite ease-in-out;
}

a:hover {
  cursor: pointer;
}

@keyframes shake {
  from {
    transform: rotate(6deg);
  }
  to {
    transform: rotate(-6deg);
  }
}
/*-------------animation-underline-la-note-enchantée--------------*/
.enchantee {
  cursor: pointer;
}
.enchantee:hover + .underline {
  transform: scale(1);
}

.underline {
  width: 100%;
  height: 0.2rem;
  border-radius: 30%;
  background-color: #000000;
  transform-origin: 0% 50%;
  transform: scale(0);
  transition: transform 500ms;
}

/*----------------animation-le-chic-a-la-francaise-----------------*/
.h4-appetit {
  cursor: pointer;
}
.h4-appetit:hover + .underline-chic-1 {
  transform: scale(1);
}

.underline-chic-1 {
  width: 100%;
  height: 0.2rem;
  transform-origin: 0% 50%;
  transform: scale(0);
  transition: transform 500ms;
  background-color: #C37423;
}

.h4-papilles {
  cursor: pointer;
}
.h4-papilles:hover + .underline-chic-2 {
  transform: scale(1);
}

.underline-chic-2 {
  width: 100%;
  height: 0.2rem;
  transform-origin: 0% 50%;
  transform: scale(0);
  transition: transform 500ms;
  background-color: #A36998;
}

.h4-sucrées {
  cursor: pointer;
}
.h4-sucrées:hover + .underline-chic-3 {
  transform: scale(1);
}

.underline-chic-3 {
  width: 100%;
  height: 0.2rem;
  transform-origin: 0% 50%;
  transform: scale(0);
  transition: transform 500ms;
  background-color: #6B53C9;
}

/*----------------animation-le-délice-des-papilles-----------------*/
.h4-commencer {
  cursor: pointer;
}
.h4-commencer:hover + .underline-délice-1 {
  transform: scale(1);
}

.underline-délice-1 {
  width: 100%;
  height: 0.2rem;
  transform-origin: 0% 50%;
  transform: scale(0);
  transition: transform 500ms;
  background-color: #0228DD;
}

.h4-continuer {
  cursor: pointer;
}
.h4-continuer:hover + .underline-délice-2 {
  transform: scale(1);
}

.underline-délice-2 {
  width: 100%;
  height: 0.2rem;
  transform-origin: 0% 50%;
  transform: scale(0);
  transition: transform 500ms;
  background-color: #0670F3;
}

.h4-terminer {
  cursor: pointer;
}
.h4-terminer:hover + .underline-délice-3 {
  transform: scale(1);
}

.underline-délice-3 {
  width: 100%;
  height: 0.2rem;
  transform-origin: 0% 50%;
  transform: scale(0);
  transition: transform 500ms;
  background-color: #229DF9;
}

/*----------------animation-la-palette-de-goût-----------------*/
.h4-goût {
  cursor: pointer;
}
.h4-goût:hover + .underline-palette {
  transform: scale(1);
}

.underline-palette {
  width: 100%;
  height: 0.2rem;
  transform-origin: 0% 50%;
  transform: scale(0);
  transition: transform 500ms;
  background-color: #B6F87A;
}

/*----------------body----------------*/
body {
  margin: auto;
  font-family: "Montserrat", sans-serif;
}

html {
  font-size: 16px;
}

/*---------------header-page-acceuil------------------*/
header {
  background-color: #579C87;
  height: 6rem;
  display: flex;
  justify-content: center;
  width: 100%;
  position: relative;
}

h1 {
  font-size: 3rem;
  color: #fcca46;
  margin-bottom: 0rem;
  margin-top: 1rem;
}

a, a:hover {
  text-decoration: none;
}

/*-------------conteneur-page-acceuil--------------*/
main {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 6rem;
}
main.container {
  width: 800px;
  margin: auto;
}

/*--------------menu-la-note-enchantée----------------*/
.container-note {
  margin: auto;
  width: 700px;
  box-shadow: 0 0 0.6rem #C6BDC6;
  flex-direction: column;
  text-align: center;
  margin-top: 6rem;
  margin-bottom: 10rem;
  background-color: #FDE0DC;
}

/*-----------menu-le-chic-a-la-francaise--------------*/
.container-chic {
  margin: auto;
  width: 700px;
  box-shadow: 0 0 0.6rem #C6BDC6;
  flex-direction: column;
  text-align: center;
  margin-top: 6rem;
  margin-bottom: 10rem;
  background-color: #FEF5FE;
}

/*-----------menu-le-délice-des-papilles--------------*/
.container-délice {
  margin: auto;
  width: 700px;
  box-shadow: 0 0 0.6rem #C6BDC6;
  flex-direction: column;
  text-align: center;
  margin-top: 6rem;
  margin-bottom: 10rem;
  background-color: #EDEFEF;
  margin-top: 6rem;
}

/*-------------menu-la-palette-du-goût----------------*/
.container-palette {
  margin: auto;
  width: 700px;
  box-shadow: 0 0 0.6rem #C6BDC6;
  flex-direction: column;
  text-align: center;
  margin-top: 6rem;
  margin-bottom: 10rem;
  background-color: #FDFFFD;
}

/*-----------------footer-page-acceuil----------------*/
footer {
  display: flex;
  justify-content: space-between;
  background-color: #579C87;
  padding-bottom: 2rem;
  width: 100%;
  position: fixed;
  bottom: 0%;
}

.vibreur {
  padding-left: 3rem;
  padding-right: 3rem;
  text-align: center;
  color: #fcca46;
  font-size: 1.4rem;
  padding-top: 1.5rem;
  text-decoration: none;
  text-decoration-line: none;
}

/*-------------------------media-queries-1000px---------------------------*/
@media all and (max-width: 1000px) {
  body {
    margin: auto;
    width: 100%;
  }

  main {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  main.container {
    width: 100%;
    margin: auto;
  }

  /*--------------------header--------------------*/
  header {
    margin: auto;
    width: 100%;
  }

  /*-----------------prochainement----------------*/
  .load {
    margin-bottom: 12rem;
  }

  /*--------------------footer--------------------*/
  footer {
    margin: auto;
    text-align: center;
  }
}
/*-------------------------madia-queries-680px--------------------------*/
@media all and (max-width: 680px) {
  body {
    margin: auto;
    width: 100%;
  }

  .conteneur {
    margin: auto;
    width: 100%;
  }

  .container-note {
    margin: auto;
    width: 100%;
    text-align: center;
  }

  .container-délice {
    margin-top: 10rem;
    width: 100%;
  }

  .container-palette {
    margin-top: 10rem;
    width: 100%;
  }

  header {
    display: flex;
    margin: auto;
    position: absolute;
  }

  span {
    width: 100%;
  }

  .note {
    width: 100%;
  }

  #page-menu-la-note {
    margin-top: 10rem;
    margin-bottom: 0.8rem;
  }

  /*-------------menu-la-note-enchantée-responsive------------*/
  body {
    display: flex;
    margin: auto;
  }

  .container-note {
    display: flex;
    margin-top: 10rem;
    margin-bottom: 10rem;
  }

  ul {
    display: flex;
    margin: auto;
    flex-direction: column;
    padding-left: 1rem;
    padding-right: 1rem;
    text-align: center;
  }

  .food {
    display: flex;
    flex-direction: column;
    margin: auto;
    text-align: center;
  }

  .line-prelude {
    margin: auto;
    width: 100%;
    margin-bottom: 3rem;
  }

  .line-left-note {
    width: 100%;
  }

  .line-right-note {
    width: 100%;
  }

  .price {
    display: flex;
    margin: auto;
    padding-left: 3rem;
  }

  .mouvement {
    padding-left: 0rem;
  }

  li {
    text-align: center;
    margin: auto;
  }

  .titre-bas {
    padding-right: 2rem;
  }

  /*--------------------menu-2--------------------*/
  .menu2 {
    margin-top: 2rem;
  }

  /*----------------le-chic-a-la-francaise-------------*/
  .container-chic {
    margin-top: 10rem;
  }

  .appetit {
    display: flex;
    text-align: center;
    margin: auto;
    padding-left: 0rem;
  }

  .sucrées {
    padding-left: 0rem;
  }

  /*----------------prochainement------------------*/
  /*--------------------footer---------------------*/
  footer {
    justify-content: space-evenly;
    margin: auto;
    width: 100%;
  }

  .vibreur {
    padding-left: 2rem;
    padding-right: 2rem;
  }
}
/*----------------------media-queries-320px-----------------------*/
@media all and (max-width: 320px) {
  footer {
    width: 320px;
  }

  .sucrées {
    padding-left: 1rem;
  }
}
/*---------------------media-queries-280px------------------------*/
@media all and (max-width: 280px) {
  footer {
    width: 280px;
  }

  .vibreur {
    margin-left: -1rem;
    margin-right: -1rem;
  }

  ul {
    padding-left: 1rem;
    padding-right: 1rem;
  }

  .titre-bas {
    padding-right: 1.5rem;
  }
}
/*-------------menu page accueil+h2+h3------------*/
article {
  width: 18rem;
  height: 25rem;
  text-align: center;
  display: flex;
  justify-content: center;
  flex-direction: column;
  box-shadow: 0 0 0.6rem #C6BDC6;
}

h2 {
  font-size: 1.4rem;
}

.page-menu {
  margin: 2rem;
}

h3 {
  font-size: 2rem;
}

.mouv {
  width: 18rem;
  height: 25rem;
  padding-top: 7rem;
}

/*-------------------menu1------------------*/
.menu1 {
  background-color: #FDE0DC;
  color: #000000;
}
.menu1 .menu-cover_img {
  width: 3rem;
}

.note {
  font-family: "Devonshire", cursive;
  font-size: 2.4rem;
  margin: 0;
}

.h3-m1 {
  font-family: "Kalam", cursive;
  margin: 0rem;
}

/*------------------menu2-------------------*/
.menu2 {
  background-color: #FEF5FE;
}

.chic {
  font-family: "Kurale", serif;
  background-image: linear-gradient(0.25turn, #c77412 35%, #905BFD 65%);
  -webkit-background-clip: text;
  color: transparent;
}

.h3-m2 {
  font-family: "Aref Ruqaa", serif;
  color: #C77412;
  margin: 0;
}

/*------------------menu3-------------------*/
.menu3 {
  background-color: #EDEFEF;
}

.delice {
  font-family: "Dancing Script", cursive;
  font-size: 1.8rem;
  background-image: linear-gradient(0.25turn, #0431df 30%, #518cf0 50%, #0887fb 20%);
  -webkit-background-clip: text;
  color: transparent;
}

.h3-m3 {
  font-family: "Kalam", cursive;
  font-weight: 300;
  color: #0887FB;
  margin: 0;
}

/*------------------menu4------------------*/
.palette {
  font-family: "kaushan Script", cursive;
  font-size: 1.8rem;
  background-image: linear-gradient(0.25turn, #3D9339, #8BD363, #BFFF7E);
  -webkit-background-clip: text;
  color: transparent;
}

.h3-m4 {
  font-family: "kalam", cursive;
  font-weight: 300;
  color: #72BF56;
  margin: 0;
}

/*-----------section prochainement----------*/
.load {
  display: flex;
  flex-direction: row;
  background-color: #579C87;
  width: 20rem;
  height: 4rem;
  border-radius: 0.6rem;
  text-align: center;
  margin-top: 2rem;
  margin-bottom: 10rem;
  padding-bottom: 1rem;
}
.load .loading {
  padding-left: 1rem;
  font-size: 1.6rem;
  color: #fcca46;
  font-weight: 300;
}
.load .anim-point {
  display: flex;
  justify-content: space-evenly;
  padding-left: 0.5rem;
}

/*----------------menu-la-note-enchantée--------------*/
.menu-note_img {
  padding-top: 2rem;
  width: 4rem;
}

.enchantee {
  font-size: 1.5rem;
  font-family: "Kalam", cursive;
  font-weight: 400;
  margin: 0rem;
}

.line-prelude {
  display: flex;
  justify-content: space-between;
}
.line-prelude .line-left-note {
  min-width: 2rem;
  max-width: 12rem;
  padding-left: 2rem;
}
.line-prelude .line-right-note {
  min-width: 2rem;
  max-width: 12rem;
  padding-right: 2rem;
}

ul {
  list-style: none;
  text-align: left;
}
ul .food {
  display: flex;
  justify-content: space-between;
}
ul .food .price {
  padding-right: 2.5rem;
}

li {
  font-family: "Kalam", cursive;
  font-size: 1.1rem;
}

.mouvement-final {
  text-align: left;
}
.mouvement-final .li-mouvement {
  padding-bottom: 2rem;
}

.note-fin {
  font-size: 2rem;
  font-family: "Devonshire", cursive;
}

.icone-bas-titre {
  display: flex;
  margin: auto;
  align-items: center;
}

.menu-note-bas {
  width: 2.5rem;
  padding-right: 1rem;
}

/*------------------menu-le-chic-a-la-francaise-------------------*/
#h2-menu-chic {
  font-size: 2.2rem;
  margin-top: 6rem;
  margin-bottom: 4rem;
}

.h4-appetit {
  color: #C37423;
  margin: 0;
}

.appetit {
  color: #C37423;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.h4-papilles {
  color: #A36998;
  margin: 0;
}

.papilles {
  color: #A36998;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.h4-sucrées {
  color: #6B53C9;
  margin: 0;
}

.sucrées {
  color: #6B53C9;
  margin-top: 2rem;
  margin-bottom: 2rem;
}
.sucrées .li-sucrées {
  font-family: "Source Serif Pro", serif;
  font-weight: bold;
  padding-bottom: 2rem;
}

#li-chic {
  font-family: "Source Serif Pro", serif;
  font-weight: bold;
}

.gourmendises-sucrees {
  margin-bottom: 5rem;
}

#font-h4-chic {
  font-family: "Source Serif Pro", serif;
  font-weight: 600;
  font-size: 1.3rem;
}

/*---------------menu-le-délice-des-papilles-----------------*/
.h4-commencer {
  font-size: 1.4rem;
  font-weight: 300;
  font-family: "Kalam", cursive;
  margin: 0;
}

.bien-commencer {
  margin-top: 2rem;
  margin-bottom: 2rem;
  padding-left: 4rem;
  padding-right: 4rem;
}

.h4-continuer {
  font-size: 1.4rem;
  font-weight: 300;
  font-family: "Kalam", cursive;
  margin: 0;
}

.h4-terminer {
  font-size: 1.4rem;
  font-weight: 300;
  font-family: "Kalam", cursive;
  margin: 0;
}

#h2-délice {
  font-family: "Dancing Script", cursive;
  font-size: 2.2rem;
}

/*----------------menu-la-palette-du-goût------------------*/
#h2-palette {
  font-size: 2.2rem;
}

.h4-goût {
  font-family: "Kalam", cursive;
  font-size: 1.4rem;
  font-weight: 300;
  margin: 0;
}

#li-goût {
  font-size: 1rem;
}

/*# sourceMappingURL=style.css.map */
