
/*----------------body-main----------------*/

body {
  margin: auto;
  font-family: 'Montserrat', sans-serif;
}

main {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.conteneur {
  width: 800px;
  margin: auto;
}

/*---------------header-------------------*/

header {
  background-color: $color-bando;
  height: 6rem;
  text-align: center;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

h1 {
  font-size: 3rem;
  color: $color-title;
}

a, a:hover {
  text-decoration: none;
}


/*-------------menu page accueil+h2+h3------------*/

article {
  width: 18rem;
  height: 25rem;
  margin: 2rem;
  text-align: center;
  display: flex;
  justify-content: center;
  flex-direction: column;
  box-shadow: 0 0 0.6rem $box-shad;
}

h2 {
  font-size: 1.4rem;
}

h3 {
  font-size: 2rem;
}

.link:hover {
  transform: scale(1);
  opacity: 0.5;
}

/*--------------menu1-2-3-4-zoom------------*/

.mouv {
  @include zoom;
}

/*-------------------menu1------------------*/

.menu1 {
  background-color: #FDE0DC;
  color: black;
}

.menu-cover_img {
  width: 3rem;
}

.note {
  font-family: 'Devonshire', cursive;
  font-size: 2rem;
}

.h3-m1 {
  font-family: 'Kalam', cursive;
}

/*------------------menu2-------------------*/

.menu2 {
  background-color: $color-m2;
}

.chic {
  font-family: 'Kurale', serif;
}

.h3-m2 {
  font-family: 'Aref Ruqaa', serif;
  color: #C77412;
}

/*------------------menu3-------------------*/

.menu3 {
  background-color: $color-m3;
}

.delice {
  font-family: 'Dancing Script', cursive;
}

.h3-m3 {
  font-family: 'Kalam', cursive;
  font-weight: 300;
  color: $color-h3m3;
}

/*------------------menu4------------------*/

.palette {
  font-family: "kaushan Script", cursive;
}

.h3-m4 {
  font-family: "kalam", cursive;
  font-weight: 300;
  color: $color-h3m4;
}

/*-----------section prochainement----------*/
section {
  
}

.load {
  background-color: $color-bando;
  width: 18rem;
  height: 3rem;
  border-radius: 0.6rem;
  text-align: center;
  margin-top: 2rem;
  margin-bottom: 3rem;
}

.loading {
  margin: auto;
  padding-top: 0.5rem;
  font-size: 1.6rem;
  color: $color-title;
  font-weight: 400;
}

/*-----------------footer------------------*/ 

footer {
  display: flex;
  justify-content: space-between;
  background-color: $color-bando;
  height: 4rem;
  position: fixed;
  bottom: 0;
  width: 100%;
}

.vibreur {
  padding-top: 1rem;
  padding-left: 3rem;
  padding-right: 3rem;
  color: $color-title;
  font-size: 1.6rem;
}

/*--------------------media-queries------------------*/

@media all and (max-width: 1000px)

{
  main {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  .conteneur {
    width: 100%;
    margin: auto;
  }
  
  header {
    margin: auto;
  }
}
