
/*-------------menu page accueil+h2+h3------------*/

article {
    width: 18rem;
    height: 25rem;
    text-align: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
    box-shadow: 0 0 0.6rem $box-shad;
  }

  h2 {
    font-size: 1.4rem;
  }

  .page-menu {
    margin: 2rem;
  }
  
  h3 {
    font-size: 2rem;
  }

  .mouv {
    width: 18rem;
    height: 25rem;
    padding-top: 7rem;
  }
  
  /*-------------------menu1------------------*/
  
  .menu1 {
    background-color: $color-m1;
    color: $color-black;
    & .menu-cover_img {
      width: 3rem;
    }
  }

  .note {
    font-family: 'Devonshire', cursive;
    font-size: 2.4rem;
    margin: 0;
  }
  
  .h3-m1 {
    font-family: 'Kalam', cursive;
    margin: 0rem;
  }
  
  /*------------------menu2-------------------*/
  
  .menu2 {
    background-color: $color-m2;
  }
  
  .chic {
    font-family: 'Kurale', serif;
    @include gradient-2;
  }
  
  .h3-m2 {
    font-family: 'Aref Ruqaa', serif;
    color: #C77412;
    margin: 0;
  }
  
  /*------------------menu3-------------------*/
  
  .menu3 {
    background-color: $color-m3;
  }
  
  .delice {
    font-family: 'Dancing Script', cursive;
    font-size: 1.8rem;
    @include gradient-3;
  }
  
  .h3-m3 {
    font-family: 'Kalam', cursive;
    font-weight: 300;
    color: $color-h3m3;
    margin: 0;
  }
  
  /*------------------menu4------------------*/
  
  .palette {
    font-family: "kaushan Script", cursive;
    font-size: 1.8rem;
    @include gradient-4;
  }
  
  .h3-m4 {
    font-family: "kalam", cursive;
    font-weight: 300;
    color: $color-h3m4;
    margin: 0;
  }
  
  /*-----------section prochainement----------*/

  .load {
    display: flex;
    flex-direction: row;
    background-color: $color-bando;
    width: 20rem;
    height: 4rem;
    border-radius: 0.6rem;
    text-align: center;
    margin-top: 2rem;
    margin-bottom: 10rem;
    padding-bottom: 1rem;
  }
  
  .loading {
    padding-left: 1rem;
    font-size: 1.6rem;
    color: $color-title;
    font-weight: 300;
  }
  
  .anim-point {
    display: flex;
    justify-content: space-evenly;
    padding-left: 0.5rem;
  }
  
  /*----------------menu-la-note-enchantée--------------*/
  
  .menu-note_img {
    padding-top: 2rem;
    width: 4rem;
  }
  
  .enchantee {
    font-size: 1.5rem;
    font-family: 'Kalam', cursive;
    font-weight: 400;
    margin: 0rem;
  }
  
  .line-prelude {
    display: flex;
    justify-content: space-between;
  }
  
  .line-left-note {
    min-width: 2rem;
    max-width: 12rem;
    padding-left: 2rem;
  }
  
  .line-right-note {
    min-width: 2rem;
    max-width: 12rem;
    padding-right: 2rem;
  }
  
  ul {
    list-style: none;
    text-align: left;
  }
  
  li {
    padding-bottom: 1rem;
    font-family: 'Kalam', cursive;
    font-size: 1.1rem;
  }
  
  .food {
    display: flex;
    justify-content: space-between;
  }
  
  .price {
    padding-right: 2.5rem;
  }
  
  .note-fin {
    font-size: 2rem;
    font-family: 'Devonshire', cursive;
  }
  
  .icone-bas-titre {
    display: flex;
    margin: auto;
    align-items: center;
  }
  
  .menu-note-bas {
    width: 2.5rem;
    padding-right: 1rem;
  }
  
  .mouvement-final {
    text-align: left;
  }
  
  /*------------------menu-le-chic-a-la-francaise-------------------*/
  
  #h2-menu-chic {
    font-size: 2.2rem;
    margin-top: 6rem;
    margin-bottom: 4rem;
  }
  
  .h4-appetit {
    color: $color-appetit;
    margin: 0;
  }

  .appetit {
    color: $color-appetit;
    margin-top: 2rem;
    margin-bottom: 2rem;
  }

  .h4-papilles {
    color: $color-papilles;
    margin: 0;
  }
  
  .papilles {
    color: $color-papilles;
    margin-top: 2rem;
    margin-bottom: 2rem;
  }
  
  .h4-sucrées {
    color: $color-sucrees;
    margin: 0;
  }

  .sucrées {
    color: $color-sucrees;
    margin-top: 2rem;
    margin-bottom: 2rem;
  }
  
  .li-chic {
    font-family: 'Source Serif Pro', serif;
    font-weight: bold;
  }
  
  .gourmendises-sucrees {
    margin-bottom: 5rem;
  }
  
  #font-h4-chic {
    font-family: 'Source Serif Pro', serif;
    font-weight: 600;
    font-size: 1.3rem;
  }
  
  /*---------------menu-le-délice-des-papilles-----------------*/
  
  .h4-commencer {
    font-size: 1.4rem;
    font-weight: 300;
    font-family: 'Kalam', cursive;
    margin: 0;
  }

  .bien-commencer {
    margin-top: 2rem;
    margin-bottom: 2rem;
    padding-left: 4rem;
    padding-right: 4rem;
  }
  
  .h4-continuer {
    font-size: 1.4rem;
    font-weight: 300;
    font-family: 'Kalam', cursive;
    margin: 0;
  }

  .h4-terminer {
    font-size: 1.4rem;
    font-weight: 300;
    font-family: 'Kalam', cursive;
    margin: 0;
  }
  
  #h2-délice {
    font-family: 'Dancing Script', cursive;
    font-size: 2.2rem;
  }
  
  /*----------------menu-la-palette-du-goût------------------*/
  
  #h2-palette {
    font-size: 2.2rem;
  }

  .h4-goût {
    font-family: 'Kalam', cursive;
    font-size: 1.4rem;
    font-weight: 300;
    margin: 0;
  }
  
  .li-goût {
    font-size: 1rem;
  }
  
  