  /*-------------page-acceuil-------------*/

.link:hover {
    transform: scale(1);
    opacity: 0.5;
  }

  /*--------------menu1-2-3-4-zoom------------*/

.mouv {
    @include zoom;
  }

  /*-----------section-prochainement----------*/

  .anim-point span {
    color: $color-title;
    display: inline-block;
    animation: dots 2s infinite ease-in-out;
    animation-duration: 2s;
    animation-timing-function: ease-in-out;
    animation-delay: 0s;
    animation-iteration-count: infinite;
    animation-direction: normal;
    animation-fill-mode: none;
    animation-play-state: running;
    animation-name: dots;
    font-size: 3rem;
  }
  
  .anim-point .point2 {
    animation-delay: 0.4s;
  }
  .anim-point .point3 {
    animation-delay: 0.8s;
  }
  .anim-point .point4 {
    animation-delay: 1.2s;
  }
  
  @keyframes dots {
    0% {
      opacity: 0;
    }
    50% {
      opacity: 1;
    }
    100% {
      opacity: 0;
    }
    40% {
      transform: scale(0.5);
    }
    40% {
      transform: translateY(0.7rem);
    }
    90% {
      transform: translateX(0.5rem);
    }
  }
  
  /*--------------vibreur-footer---------------*/

  .vibreur {
    &:hover{
      animation: shake 100ms infinite ease-in-out;
    }
  }
  
  a:webkit-any-link {
    cursor: pointer;
  }
  
  @keyframes shake {
    from{
      transform: rotate(6deg);
    }
    to{
      transform: rotate(-6deg);
    }
  }


  