@mixin zoom{
    cursor: pointer;
    transition: transform 600ms;
    &:hover {
      transform: scale(1.25);
      }
    }

@mixin gradient-2{
    background-image: linear-gradient(0.25turn, #c77412 35%, #905BFD 65%);
    -webkit-background-clip: text;
    color: transparent;
    }  
    
@mixin gradient-3{
    background-image: linear-gradient(0.25turn, #0431df 30%, #518cf0 50%, #0887fb 20%);
    -webkit-background-clip: text;
    color: transparent;
    }

@mixin gradient-4{ 
    background-image: linear-gradient(0.25turn, #3D9339, #8BD363, #BFFF7E);
    -webkit-background-clip: text;
    color: transparent;
}    
   
@mixin gradient-note{
    background-image: linear-gradient(0.25, #F15861, #F8A183);
    -webkit-background-clip: text;
}