$color-bando: #579C87;
$color-title: #fcca46;
$box-shad: #C6BDC6;
$color-m1: #FDE0DC;
$color-m2: #FEF5FE;
$color-m3: #EDEFEF;
$color-h3m3: #0887FB;
$color-h3m4: #72BF56;
$color-black: #000000;
$color-appetit: #C37423;
$color-papilles: #A36998;
$color-sucrees: #6B53C9;